.button-ripple-effect {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-getdata-style{
    background-color: #86C4D1;
}

.button-adddata-style{
    background-color: #C6C974;
}

