<h1>{{title}}</h1>
<div>
  <h2>Get Data</h2>
  <h3>  
    <button class="button-ripple-effect button-getdata-style" md-raised-button  mdTooltip="{{tooltipGetData}}" mdTooltipPosition="right">Get Data</button>
      <!-- <ul><li *ngFor="getd in getdata">
        <span>{{getd}}</span>
      </li></ul> -->
  </h3>
</div>
 
<div>
    <h2>Add Data</h2>
    <h3>
      <input name="mySample" placeholder="mySampleData">
      <button class="button-ripple-effect button-adddata-style" md-raised-button mdTooltip="{{tooltipAddData}}" mdTooltipPosition="below">Add Data</button>  
    </h3>
  </div>
